@charset "utf-8";
/* CSS Document */
#main { width: 1024px; height: auto; margin-top: 21px;}
#mainl { width: 220px; height: 100%; margin-right: 21px;}
#nav { width: 220px; height: auto; background-color: white; padding-bottom: 21px;}
#nav li { width: 220px; 
		  height: 40px; 					  
		  font-size: 16px;
		  text-align: left; 
		  line-height: 40px;}
#mainl .title { font-size: 18px; 
				color: #fff; 
				font-weight: bold ; 
				margin-bottom: 10px; 
				background-color: #088ae0;
			  }
#mainl .title p { margin-left: 25px;}
#nav li a { margin-left: 50px; color: #6d6e71;}
#nav li a:hover { color: #088ae0;}
#nav .blue { background-color: #ecf9ff; }
#nav .blue p { margin-left: 50px; color: #088ae0;}
#contact { width: 220px; height: auto; margin-top: 21px; background-color: white; padding-bottom: 21px;}
#contact img { float: left; padding: 13px 8px 0 10px;}
#contact p { float: left; line-height: 40px;}
#contact li { width: 220px; 
			  height: 40px; 					  
			  font-size: 14px;
			  text-align: left; 
			  line-height: 40px;
			  color: #8c8d90;}
