body { width: 100%; height: 100%; min-width: 1024px; min-height: 700px; font-size: 14px;}
.pop { width: 100%;
	   min-width: 1024px;
	   height: 100%;
	   min-height: 700px;
	   position: fixed; 
	   z-index: 99;
	   background-color: #000; 
	   background:rgba(0,0,0,0.4) none repeat scroll !important; /*实现FF背景透明，文字不透明*/
	   filter:Alpha(opacity=40);/*实现IE背景透明*/ 
	}
.frame { width: 600px; height: 360px; top: 50%; margin-top: -180px; position: relative; background-color: #088ae0;}
.frame .poptop { height: 250px;}
.frame .poptop a img { margin: 10px 10px 0 0;}
.frame .poptop .true { margin: 10px 0 18px 0;}
.frame .poptop p { margin-top: 10px;}
.frame .popbottom { height: 79px; background-color: white; padding-top: 31px;}
.frame .popbottom .popbtn { width: 220px; height: 48px; background-color: #088ae0; line-height: 48px;}
.applymain { width: 100%; height: 100%; min-width: 1024px; top: 0; position: absolute; z-index: -99; }
.banner { width: 100%; height: 487px; background-image: url(../img/preheatbg.png);}
.rule { width: 100%; padding: 45px 0 35px 0; background-color: #f7f7f7;}
.rule ul { width: 600px;}
.rule ul li { font-size: 16px; color: #6d6e71; margin-bottom: 10px;}
.rule ul li .orange { color: #ffa200; font-weight: bold;}
.rule ul li .black { color: #000;}
.rule .title { font-size: 20px; color: #088ae0; font-weight: bold; padding-bottom: 10px;}
.immediate { width: 600px; padding: 45px 0 0 0; background-color: #eeeeee;}
.immediate .title { font-size: 20px; color: #088ae0; font-weight: bold; padding-bottom: 10px;}
.immediate table tr { height: 40px; font-size: 16px; color: black;}
.immediate table tr .td1 { width: 115px;}
.immediate table tr .td2 { width: 220px; line-height: 40px;}
.immediate table tr .td2 img { padding-top: 12px; padding-right: 5px;}
.immediate table tr .td3 { width: 200px; padding-left: 20px; padding-right: 80px;}
.immediate table tr .td3 .btn { width: 200px; height: 38px; background-color: #b2b2b3; line-height: 40px; margin: 0;}
.immediate table tr .td3 .btncan {  background-color: #088ae0;}
.immediate table input { width: 218px; height: 28px; border: 1px solid #d4d4d4; padding: 4px 0 4px 6px; color: #6d6e71;}
.mar_top { margin-top: 30px;}
.font18 { font-size: 18px;}
.font24 { font-size: 24px;}