body { width: 100%; height: 100%; min-width: 1024px; min-height: 700px; font-size: 14px;}
.banner { width: 100%; height: 487px; background-image: url(../img/preheatbg.png);}
.banner .content .blue { 
	width: 380px; 
	height: 70px; 
	background-color: #22517d; 
	border-radius: 10px;
	filter:alpha(opacity=70);
	-moz-opacity:0.70;
	opacity:0.70;
}
.banner .content .blue div { position: relative;}
.rule { width: 100%; padding: 45px 0 35px 0; background-color: #f7f7f7;}
.rule ul { width: 600px;}
.rule ul li { font-size: 16px; color: #6d6e71; margin-bottom: 10px;}
.rule ul li .orange { color: #ffa200; font-weight: bold;}
.rule ul li .black { color: #000;}
.rule .title { font-size: 20px; color: #088ae0; font-weight: bold; padding-bottom: 10px;}
.immediate { width: 600px; padding: 45px 0 0 0; background-color: #eeeeee;}
.immediate .title { font-size: 20px; color: #088ae0; font-weight: bold; padding-bottom: 10px;}
.immediate table tr { height: 40px; font-size: 16px; color: black;}
.immediate table tr .td1 { width: 115px;}
.immediate table tr .td2 { width: 220px; line-height: 40px;}
.immediate table tr .td2 img { padding-top: 12px; padding-right: 5px;}
.immediate table tr .td3 { width: 200px; padding-left: 20px; padding-right: 80px;}
.immediate table tr .td3 .btn { width: 200px; height: 38px; background-color: #b2b2b3; line-height: 40px; margin: 0;}
.immediate table input { width: 218px; height: 28px; border: 1px solid #d4d4d4; padding: 4px 0 4px 6px; color: #6d6e71;}
.mar_top { margin-top: 30px;}