@charset "utf-8";
/* CSS Document */
#mainr { width: 783px; height: auto; margin-top: 20px; padding-top: 20px; background-color: white; }
.mainr { width: 700px; height: auto; font-size: 14px;}
.mainr input { height: 22px; 
			   width: 220px; 
			   border: 1px solid #d4d4d4; 
			   background-color: #f9f9f9;
			   padding: 4px 10px 4px 10px;
			   margin-left: 5px;
			 }
.mainr .title { width: 700px;
			    height: 34px;
			    background-color: #ecf9ff; 
			    border-bottom: 1px solid #b9e5fa; 
			    line-height: 34px; 
			    font-size: 20px;
			  }
.mainr .contain { height: auto; 
				  width: 698px;
				}
.frame { width: 700px; height: auto; color: #000000;}
.revise_password { width: 700px; height: auto; }
.revise_password .contain { height: auto; padding-top: 10px; padding-bottom: 30px;}
.contain .size { height: 32px; margin-top: 20px; line-height: 32px;}
.contain .size img { visibility: hidden; margin-left: 5px;}
.contain .size .head { width: 35px; text-align: right;}
.contain .size .content { width: auto; text-align: left;}
.contain .cue { width: 240px; height: 25px; margin-left: 5px; line-height: 24px; color: #cc1122; visibility: hidden;}
.contain .btn { height: 48px; display:block;
				width: 224px; 
				background-color: #088ae0; 
				line-height: 48px; 
				color: white; 
				font-size: 18px; 
			  }
.contain .btn a { color: white;}
.contain .text { height: 25px; width: 200px; line-height: 25px; margin-left: 275px; margin-top: 10px;}
.contain .text span { float: left;}
.contain .text img { padding-top: 5px; margin-right:5px; float: left;}
.contain .tip td { width: 112px;}
.contain .tip a { color: #6d6e71; text-decoration: underline;}