@charset "utf-8";
/* CSS Document */
#mainr { width: 783px; height: auto; background-color: white; }
.mainr { width: 700px; height: auto; margin: 30px 41px 30px 41px;}
.recharge { width: 700px; 
			height: 140px; 
			font-size: 14px;
			color: #202020; 			
		}
		.mainr .title { width: 700px; height: 34px; background-color: #ecf9ff; border-bottom: 1px solid #b9e5fa; line-height: 34px; font-size: 20px; }
		.recharge .contact { height: 104px; 
							 width: 698px; 
							 border-bottom: 1px solid #d4d4d4; 
							 border-left: 1px solid #d4d4d4; 
							 border-right: 1px solid #d4d4d4;
							 line-height: 104px; 
							}
.withdraw_cash { width: 700px; height: auto; font-size: 14px; margin-top: 30px;}
	.withdraw_cash .contain { padding-bottom: 20px;
							  width: 698px; 
							  border-bottom: 1px solid #d4d4d4; 
							  border-left: 1px solid #d4d4d4; 
							  border-right: 1px solid #d4d4d4;
							}
							.contain .size { height: 32px; padding-top: 25px; line-height: 32px;}
							.contain .size .posi { width: 100px; }
							.contain input { height: 22px; 
											 width: 178px; 
											 border: 1px solid #d4d4d4; 
											 background-color: #f9f9f9;
											 padding: 4px 10px 4px 10px;
											 margin-left: 10px;
											}
							.contain .confirm input { width: 98px; }
							.contain .confirm a { color: #088ae0; text-decoration: underline; margin-left: 10px;}
							.contain .text { height: 35px; width: 120px; line-height: 35px;}
							.contain .text img { padding-top: 10px; margin-right:5px; float: left;}
							.contain .btn { height: 48px; width: 280px; background-color: #088ae0; line-height: 48px; color: white; font-size: 18px;}