@charset "utf-8";
/* CSS Document */
.hide{display: none}
.cl:after{content: ".";display: block;height: 0px;clear: both;visibility: hidden;}
* html .cl{height: 1%;}/*IE6*/
*:first-child+html .cl{min-height: 1px;}/*IE7*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,img{margin:0;padding:0;}
input { border: 0px;}
img { border:0;}
.lastx{margin-right: 0 !important;border-right: 0 !important;padding-right: 0 !important;}
ol,ul{ list-style:none;}
.text_cen { text-align: center;}
.text_l { text-align: left;}
.text_r {text-align: right;}
.mar_cen { margin: 0 auto;}
.fl { float: left;}
.fr { float: right;}
a { text-decoration: none; color: white; margin: 0; padding: 0;}
.block { display: block;}
.f0643b6 { color: #0643b6;}
.f088ae0 { color: #088ae0;}

body { width: 100%; height: 100%; font-family: "微软雅黑"; font-size: 14px; background-color: #eeeeee; min-width: 1024px;}
#top { width: 100%; height: 130px; background-image: url("../img/top_bg.png"); background-color: #fff; background-repeat: repeat-x;}
#top_black { width: 1024px; height: 30px; color: white; background-color: #313131;}
#top_black span { height: 30px; line-height: 30px;}
.infor { margin-right: 20px;}
.ID { margin-right: 40px;}
.login { margin-right: 67px;}
#top_white { width: 1024px; height: 100px; color: #313131;}
.indexdiv{display: block;float: left;}
.logo { width: 62px; height: 76px; margin: 10px 0; background:url("../img/logo.png");}
.logotext{ width: 155px; height: 76px; margin: 10px 0 10px 20px; background:url("../img/logotext.png");}
#top_white .nav { height: 50px; margin-top: 20px;}
#top_white .nav a { color: black;}
#top_white .nav a:hover { color: #088ae0;}
#top_white .nav li {border-right:1px solid #b9e5fa;text-align: center; height: 50px; line-height: 50px; font-size: 18px; float: left;padding: 0 40px;}
#top_white .nav .font{ color:#000; }
#banner { width: 100%; min-height: 380px;}
#ban_main { width: 1024px; min-height: 380px; position: relative;}

#login_register { width: 300px; height: 240px; margin-top: 70px; background-color: #055386; }
#login_register input { width: 220px; height: 14px; font-size: 14px; color: #6d6e71; padding: 10px; float: left; }
#login_register span { color: white; font-size: 14px;}
.user { margin: 40px 0 0 30px;}
.password { margin: 20px 0 0 30px;}
.log_btn { width: 240px;
		   height: 34px; 
		   background-color: #ffa200; 
		   margin: 20px 0 0 28px; 
		   font-size: 18px; 
		   color: white; 
		   line-height: 34px;
		}
#forgetpas { margin: 15px 0 0 30px;}
#register { margin: 15px 0 0 155px;}
#footer { width: 100%; height: auto; background-color: #e2e2e2; margin-top: 28px;}		
#footer .link { width: 980px; 
				height: auto; 
				border-bottom: 1px solid #cccccc; 
				font-size: 14px; 
				font-weight: bold; 
				color: #000; 
				padding: 15px 0 15px 0;
				line-height: 30px;
			}	
#footer a { font-weight: normal; color: #005580;}
.footimg { width: 1024px; padding-top: 20px;}
.footimg li { float: left;}
.footer { width: 980px; height: auto; padding-bottom: 52px;}	 
.footer ul li { width: 100%; margin-top: 20px;}
.footer ul li a { margin-left: 18px;}
.footer .font { color: #666666;}

